packages/
tools/
_Resharper.canopy
*.ReSharper.user
*.pdb
*.exe
chromedriver.log
canopy/bin/**/*
canopy/obj/**/*
githubtests/bin/**/*
githubtests/obj/**/*
basictests/bin/**/*
basictests/obj/**/*
demotests/bin/**/*
demotests/obj/**/*
documentationtests/bin/**/*
documentationtests/obj/**/*
sampleprojectstructure/bin/**/*
sampleprojectstructure/obj/**/*
nuget/*
build/*
tests/*
*.suo