source https://www.nuget.org/api/v2/

framework: net452

nuget NuGet.CommandLine
nuget FSharp.Core >= 4.0.0.1 lowest_matching:true
nuget Selenium.WebDriver
nuget FAKE
nuget FSharp.Formatting
nuget FSharp.Data