source https://api.nuget.org/v3/index.json
framework: net461
redirects: on

nuget FSharp.Core ~> 4.2.3
nuget Selenium.WebDriver
nuget FSharp.Formatting
nuget FSharp.Data
nuget Argu ~> 4
nuget Expecto
nuget Expecto.FsCheck
nuget Selenium.WebDriver.ChromeDriver
nuget Selenium.WebDriver.GeckoDriver

github logary/logary src/Logary.Facade/Facade.fs

group build
  source https://api.nuget.org/v3/index.json
  nuget FAKE
  github fsharp/FAKE modules/Octokit/Octokit.fsx
