code {
	text-align:left
}

#header {
    text-align:center
}

.bx-pager a
{
    padding-left:11px;
    padding-right:11px;
    padding-top:11px;
    padding-bottom:0px;
    color:#51A351
}

.bx-pager
{
    text-align:center;
    padding-left:0px;
    padding-right:0px;
    padding-top:15px;
    padding-bottom:0px;
}

#sliderButtons 
{
    text-align:center    
}

#footerButtons 
{
    text-align:center    
}

.pager 
{
    height:500px
}

pre 
{
    height:inherit
}

.btn-inverse 
{
    margin-left:5px;
    margin-right:5px;
}

.bx-window
{
    background-color:#F5F5F5;
}

.left
{
    float:left;    
}

.right
{
    float:right;
}

.wrapper
{        
    text-align:left;
    font-size:23px;
    line-height:36px;
    text-rendering: optimizelegibility;
    width:50%;    
}

.explanation 
{
    padding-left:15px;   
}

.example
{
    padding-left:15px;   
}

pre 
{
    margin-top:0px;
}