<html>
  <head>
    <title>autocomplete</title>
    <script type="text/javascript" src="jquery.js"></script>
  </head>
  <body>
    <div id="console"></div>
    <input id="search" type="button" value="search"></input>
    <script>
      $(function() { 
        initializeSearch();
      });

      function initializeSearch() {
        var results = $("<table></table>");

        results.css({ display: "none" });

        $("body").append(results);

        $("#search").click(function() { search(results); });
      }

      function search(results) {
        $.getJSON('/search', function(data) { 
          for(var i = 0; i < data.results.length; i++) {
            var row = $("<tr><td>" + data.results[i].first_name + " " + data.results[i].last_name + "</td></tr>");
            row.click(function() { $("#console").html("worked"); });
            results.append(row);
          }
          results.css({ display: "block" });
        });
      }
    </script>
  </body>
</html>
