<html>
    <head>
        <title>canopy testing page</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    </head>

    <body>

	<label id="displayed">Displayed</label>
	
	<ul id="list">		
	</ul>
    
    <script type="text/javascript">
        $(document).ready(function () {
			$("#displayed").hide();
            setTimeout(function () { $("#displayed").show(); }, 2000)      			
		});        
    </script>

    </body>
</html>

