<html>
    <head>
        <title>floak testing page</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    </head>

    <body>
	
	<label class="item">item 1</label>
	<label class="item">item 2</label>
	<label class="item">item 3</label>
	<span>	
		<label class="item">spanned item 4</label>
		<label class="item">spanned item 5</label>
	</span>
    

    </body>
</html>

