<html>
    <head>
        <title>floak testing page</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    </head>

    <body>

	<a href="home" id="link" style="display:none">Take me home!</a>
	    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#link").fadeIn(1500);
		});        
    </script>

    </body>
</html>

