<html>
    <head>
        <title>floak testing page</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    </head>

    <body>

	<label id="wait_for">Not Done</label>
	
	<ul id="list">		
	</ul>
    
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () { $("#wait_for").html("Done!"); }, 2000)      			
            setTimeout(function () { $("#list").append('<li class="number">1</li>'); }, 400)      
            setTimeout(function () { $("#list").append('<li class="number">2</li>'); }, 800)      
            setTimeout(function () { $("#list").append('<li class="number">3</li>'); }, 1200)      
            setTimeout(function () { $("#list").append('<li class="number">4</li>'); }, 1600)      
            setTimeout(function () { $("#list").append('<li class="number">5</li>'); }, 2000)      
		});        
    </script>

    </body>
</html>

