<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net40" />
  <package id="Selenium.Support" version="2.41.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.41.0" targetFramework="net40" />
  <package id="SizSelCsZzz" version="0.3.35.0" targetFramework="net40" />
</packages>