<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.5.1" />
  <package id="Selenium.Support" version="2.31.2" targetFramework="net40-Client" />
  <package id="Selenium.WebDriver" version="2.24.0" />
  <package id="Selenium.WebDriver" version="2.30.0" targetFramework="net40-Client" />
  <package id="Selenium.WebDriver" version="2.31.2" targetFramework="net40-Client" />
</packages>